<div class="relative min-h-screen pl-4 md:pl-[21vw] pr-4">
  <!-- Mobile label under nav -->
  <div class="md:hidden pt-14 px-1 pb-2 border-b border-black/20">
    <p class="text-base font-semibold text-gray-800">{{ 'ABOUT.LABEL' | translate }}</p>
  </div>
  <!-- Independent absolute left rail (scrolls with section) -->
  <div class="hidden md:flex absolute top-0 left-0 h-full w-[14vw] md:w-[20vw] border-r-2 border-black items-start justify-end pr-4 py-4 pointer-events-none">
    <p class="text-xl whitespace-nowrap">{{ 'ABOUT.LABEL' | translate }}</p>
  </div>
  <!-- Centered CLI-like content -->
  <div class="cli-container bg-gray-900 text-green-500 font-mono p-5 rounded-md my-10 w-[92%] sm:w-[80%] md:w-[70%] lg:w-[60%] mx-auto">
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.L1' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.L2' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.DOTS' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.WHOAMI' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.ROLE' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.DOTS' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.SKILLS' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.SKILL_ALGO' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.SKILL_DS' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.SKILL_BACKEND' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.SKILL_GAME' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.SKILL_ML' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.SKILL_FRONTEND' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.DOTS' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.LANGS' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; Python</p>
  <p class="cli-line">C:\Users\You&gt; Pascal</p>
  <p class="cli-line">C:\Users\You&gt; C</p>
  <p class="cli-line">C:\Users\You&gt; C++</p>
  <p class="cli-line">C:\Users\You&gt; UML</p>
  <p class="cli-line">C:\Users\You&gt; Java</p>
  <p class="cli-line">C:\Users\You&gt; C#</p>
  <p class="cli-line">C:\Users\You&gt; SQL</p>
  <p class="cli-line">C:\Users\You&gt; JavaScript...</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.DOTS' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.TOOLS' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; Git</p>
  <p class="cli-line">C:\Users\You&gt; Docker</p>
  <p class="cli-line">C:\Users\You&gt; Visual Studio</p>
  <p class="cli-line">C:\Users\You&gt; BootStrap</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.AI' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; {{ 'ABOUT.DOTS' | translate }}</p>
  <p class="cli-line" id="gas">C:\Users\You&gt; {{ 'ABOUT.CONTACT' | translate }}</p>
  <p class="cli-line">C:\Users\You&gt; <a href="https://www.linkedin.com/in/arsendjurdjev/" class="text-green-500 hover:text-[#482268]">{{ 'ABOUT.LINKEDIN' | translate }}</a></p>
  <p class="cli-line">C:\Users\You&gt; <a href="https://www.github.com/Krupanjac/" class="text-green-500 hover:text-[#482268]">{{ 'ABOUT.GITHUB' | translate }}</a></p>
  <p class="cli-line">C:\Users\You&gt; <a href="https://www.instagram.com/arsendjurdjev/" class="text-green-500 hover:text-[#482268]">{{ 'ABOUT.INSTAGRAM' | translate }}</a></p>
  <p class="cli-line">C:\Users\You&gt; <a href="#" id="email-address" class="text-green-500 hover:text-[#482268]">arsen.djurdjev&gt;live.com</a></p>
  </div>
</div>
  