<div class="relative flex">
    <!-- Left label -->
    <div class="absolute top-0 border-r-2 h-screen" style="width:20%;">
      <p class="text-xl ml-[105%]">About/></p>
    </div>
    <!-- CLI-like content -->
    <div class="cli-container bg-gray-900 text-green-500 font-mono p-5 rounded-md w-1/2 relative"
         style="top:50%; left:8%; margin: 50px auto;">
      <p class="cli-line">C:\Users\You&gt; $echo "Hello, I'm Arsen Đuđev."</p>
      <p class="cli-line">C:\Users\You&gt; Hello, I'm Arsen Đuđev.</p>
      <p class="cli-line">C:\Users\You&gt; ...</p>
      <p class="cli-line">C:\Users\You&gt; $whoami</p>
      <p class="cli-line">C:\Users\You&gt; I'm a Full-stack Developer.</p>
      <p class="cli-line">C:\Users\You&gt; ...</p>
      <p class="cli-line">C:\Users\You&gt; $skills</p>
      <p class="cli-line">C:\Users\You&gt; Algorithms</p>
      <p class="cli-line">C:\Users\You&gt; Data Structures</p>
      <p class="cli-line">C:\Users\You&gt; Back-end Development</p>
      <p class="cli-line">C:\Users\You&gt; Game Development</p>
      <p class="cli-line">C:\Users\You&gt; Machine Learning</p>
      <p class="cli-line">C:\Users\You&gt; Front-end Development</p>
      <p class="cli-line">C:\Users\You&gt; ...</p>
      <p class="cli-line">C:\Users\You&gt; $languages</p>
      <p class="cli-line">C:\Users\You&gt; Python</p>
      <p class="cli-line">C:\Users\You&gt; Pascal</p>
      <p class="cli-line">C:\Users\You&gt; C</p>
      <p class="cli-line">C:\Users\You&gt; C++</p>
      <p class="cli-line">C:\Users\You&gt; UML</p>
      <p class="cli-line">C:\Users\You&gt; Java</p>
      <p class="cli-line">C:\Users\You&gt; C#</p>
      <p class="cli-line">C:\Users\You&gt; SQL</p>
      <p class="cli-line">C:\Users\You&gt; JavaScript...</p>
      <p class="cli-line">C:\Users\You&gt; ...</p>
      <p class="cli-line">C:\Users\You&gt; $tools</p>
      <p class="cli-line">C:\Users\You&gt; Git</p>
      <p class="cli-line">C:\Users\You&gt; Docker</p>
      <p class="cli-line">C:\Users\You&gt; Visual Studio</p>
      <p class="cli-line">C:\Users\You&gt; BootStrap</p>
      <p class="cli-line">C:\Users\You&gt; Artificial intelligence</p>
      <p class="cli-line">C:\Users\You&gt; ...</p>
      <p class="cli-line" id="gas">C:\Users\You&gt; $contact</p>
      <p class="cli-line">C:\Users\You&gt; <a href="https://www.linkedin.com/in/arsendjurdjev/" class="text-green-500 hover:text-[#482268]">LinkedIn &lt;--click to view</a></p>
      <p class="cli-line">C:\Users\You&gt; <a href="https://www.github.com/Krupanjac/" class="text-green-500 hover:text-[#482268]">GitHub &lt;--click to view</a></p>
      <p class="cli-line">C:\Users\You&gt; <a href="https://www.instagram.com/arsendjurdjev/" class="text-green-500 hover:text-[#482268]">Instagram &lt;--click to view</a></p>
      <p class="cli-line">C:\Users\You&gt; <a href="#" id="email-address" class="text-green-500 hover:text-[#482268]">arsen.djurdjev&gt;live.com</a></p>
    </div>
  </div>
  